@font-face {
  font-family: "glober-regular";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/glober-regular.eot");
  src: url("./fonts/glober-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/glober-regular.woff") format("woff"), url("./fonts/glober-regular.ttf") format("truetype"); }
@font-face {
  font-family: "glober-semibold";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/glober-semibold.eot");
  src: url("./fonts/glober-semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/glober-semibold.woff") format("woff"), url("./fonts/glober-semibold.ttf") format("truetype"); }
@font-face {
  font-family: "glober-bold";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/glober-bold.eot");
  src: url("./fonts/glober-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/glober-bold.woff") format("woff"), url("./fonts/glober-bold.ttf") format("truetype"); }
@font-face {
  font-family: "glober-regular";
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/glober-bold.eot");
  src: url("./fonts/glober-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/glober-bold.woff") format("woff"), url("./fonts/glober-bold.ttf") format("truetype"); }
:focus {
  outline: none; }

span.dot {
  position: absolute;
  text-indent: -1000em; }

span.ruble {
  text-transform: uppercase; }

span.hyphen:after {
  content: '\2013'; }

span.hyphen {
  position: absolute;
  margin: .15ex 0 0;
  behavior: expression(this.innerHTML = '&ndash;'); }

.indexPage {
  font-family: "glober-regular", Arial, sans-serif;
  color: #fff;
  min-width: 1024px !important; }
  .indexPage .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center; }
    .indexPage .bg div {
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      background-position: center center;
      opacity: 1;
      -webkit-transition: background 0.2s linear;
      -moz-transition: background 0.2s linear;
      -o-transition: background 0.2s linear;
      -ms-transition: background 0.2s linear;
      transition: background 0.2s linear; }
  .indexPage .header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1024px !important;
    display: block; }
    .indexPage .header a.logo {
      position: absolute;
      display: block;
      width: 226px;
      height: 50px;
      top: 20px;
      left: 20px; }
    .indexPage .header .socialNetwork {
      position: absolute;
      top: 28px;
      right: 260px;
      list-style-type: none;
      font-size: 11px;
      border-radius: 20px;
      padding: 0 10px 0 15px;
      color: rgba(255, 255, 255, 0.6);
      border: rgba(255, 255, 255, 0.6) 1px dashed; }
      .indexPage .header .socialNetwork li {
        display: inline-block;
        line-height: 35px;
        text-align: center;
        font-size: 13px; }
        .indexPage .header .socialNetwork li.ico {
          width: 35px;
          font-size: 16px; }
        .indexPage .header .socialNetwork li a {
          text-decoration: none;
          color: #fff; }
    .indexPage .header .rightMenu {
      position: absolute;
      top: 27px;
      right: 20px;
      list-style-type: none;
      font-family: "glober-regular", Arial, sans-serif;
      font-size: 12px; }
      .indexPage .header .rightMenu li {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 20px; }
        .indexPage .header .rightMenu li.login {
          border-color: #fff;
          padding: 10px 20px; }
        .indexPage .header .rightMenu li.signup {
          padding: 10px 10px; }
        .indexPage .header .rightMenu li a {
          text-decoration: none;
          color: #fff; }
  .indexPage .section {
    text-align: center;
    position: relative;
    z-index: 1;
    min-height: 650px !important; }
    .indexPage .section h1 {
      font-family: "glober-semibold", "glober-regular", Arial, sans-serif;
      font-weight: normal;
      font-size: 60px;
      line-height: 100%;
      text-transform: uppercase;
      margin: 20px 0; }
    .indexPage .section h2 {
      font-family: "glober-semibold", "glober-regular", Arial, sans-serif;
      font-weight: normal;
      font-size: 50px;
      line-height: 100%;
      text-transform: uppercase;
      margin: 20px 0; }
    .indexPage .section .sub-title {
      font-family: "glober-semibold", "glober-regular", Arial, sans-serif;
      font-size: 30px;
      line-height: 100%;
      margin: 20px 0; }
    .indexPage .section .text {
      font-family: "glober-regular", Arial, sans-serif;
      font-size: 17px;
      line-height: 23px;
      margin: 20px 0; }
    .indexPage .section .md-button {
      font-family: "glober-semibold", "glober-regular", Arial, sans-serif; }
      .indexPage .section .md-button.md-primary.md-raised {
        background-color: #00cc66; }
    .indexPage .section.first .md-button {
      margin: 20px 0;
      font-size: 20px;
      padding: 5px 25px; }
    .indexPage .section.first .social_network.available div {
      margin: 0 12px; }
      .indexPage .section.first .social_network.available div.item {
        border-radius: 77px;
        width: 77px;
        line-height: 77px;
        border: #fff 1px dashed;
        font-size: 40px; }
    .indexPage .section.first .social_network .soon {
      margin: 20px 0;
      padding: 0 5px;
      color: rgba(255, 255, 255, 0.6);
      border: rgba(255, 255, 255, 0.6) 1px dashed;
      border-radius: 50px; }
      .indexPage .section.first .social_network .soon div {
        font-size: 12px;
        margin: 5px 10px; }
        .indexPage .section.first .social_network .soon div.item {
          font-size: 22px; }
    .indexPage .section.scope {
      min-height: 1000px !important; }
      .indexPage .section.scope .objects {
        padding: 0 40px; }
        .indexPage .section.scope .objects .object {
          border-radius: 20px;
          padding: 20px;
          text-align: left;
          margin: 0 45px 45px 0; 
          width: 260px;}
          .indexPage .section.scope .objects .object .name {
            font-weight: bold;
            font-size: 18px;
            padding: 0 0 10px 0; }
          .indexPage .section.scope .objects .object .desc {
            font-size: 14px; }
          .indexPage .section.scope .objects .object .date {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5); }
          .indexPage .section.scope .objects .object.alert {
            border: 2px dashed #00cc66; }
          .indexPage .section.scope .objects .object.soon {
            border: #fff 1px dashed; }
    .indexPage .section.public-one-click .objects .item {
      margin: 0 20px; }
      .indexPage .section.public-one-click .objects .item .ico {
        border: 1px dashed #fff;
        border-radius: 160px;
        width: 160px;
        height: 160px; }
        .indexPage .section.public-one-click .objects .item .ico img {
          width: 100%;
          height: 100%; }
      .indexPage .section.public-one-click .objects .item .name {
        margin: 10px 0 0 0;
        font-size: 30px;
        font-family: "glober-semibold", "glober-regular", Arial, sans-serif; }
    .indexPage .section.price {
      min-height: 1100px !important; }
      .indexPage .section.price .period {
        margin: 0 0 20px 0; }
      .indexPage .section.price .objects {
        width: 100%; }
        .indexPage .section.price .objects .object {
          border: #fff 1px dashed;
          border-radius: 20px;
          padding: 20px 0; }
          .indexPage .section.price .objects .object .title {
            font-family: "glober-semibold", "glober-regular", Arial, sans-serif;
            font-size: 25px;
            line-height: 100%;
            text-transform: uppercase;
            margin: 0 0 20px 0; }
          .indexPage .section.price .objects .object img {
            margin: 0 0 30px 0; }
          .indexPage .section.price .objects .object .cost {
            margin: 0 0 20px 0;
            font-weight: bold;
            line-height: 140%; }
            .indexPage .section.price .objects .object .cost .sum {
              font-family: "glober-regular", Arial, sans-serif;
              font-size: 60px;
              color: #21b660; }
            .indexPage .section.price .objects .object .cost .currency {
              font-family: "glober-regular", Arial, sans-serif;
              color: #21b660;
              font-size: 30px; }
              .indexPage .section.price .objects .object .cost .currency span.hyphen {
                margin: 1ex 0 0; }
            .indexPage .section.price .objects .object .cost .desc {
              display: block;
              font-size: 12px; }
          .indexPage .section.price .objects .object ul {
            list-style-type: none;
            margin: 0 0 20px 0;
            padding: 0 5px; }
            .indexPage .section.price .objects .object ul li {
              padding: 10px 20px;
              text-align: left;
              font-size: 14px;
              line-height: 100%;
              border-bottom: 1px dotted rgba(255, 255, 255, 0.15); }
              .indexPage .section.price .objects .object ul li.disabled {
                text-decoration: line-through; }
          .indexPage .section.price .objects .object .md-button {
            padding: 5px 10px;
            font-size: 18px; }
    .indexPage .section.start .md-button.md-primary.md-raised {
      padding: 10px 20px;
      font-size: 26px;
      font-family: "glober-semibold", "glober-regular", Arial, sans-serif;
      text-transform: none;
      background-color: #00cc66; }